@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
}


    :root {
      --bg: #060606;
        --text-color: #fff;
        --navbar: #23232375;
        --lighter: #414141;
    }

.main {
  min-height: 100vh;
}
.card {
  background-color: var(--navbar);
  background-size: cover;
  color: var(--text-color);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
#hours, #mins {filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));}
#timebg {color: #fff;}
.logo {
  border: 1px var(--lighter) solid;
}
#status {
  background-color: rgb(121, 201, 84);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 15px;
  width: 50px;
  margin-left: 5px;
  background-color: var(--bg);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}.tooltip .tooltiptext.aa {
  width: 200px;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--bg) transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}