@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
    :root {
      --bg: #060606;
        --text-color: #fff;
        --navbar: #2c2c2c34;
        --lighter: #414141;
    }
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--lighter);
      border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: var(--text-color);
    }
.main {
  min-height: 100vh;
}
.home {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--navbar);
  background-size: cover;
  color: var(--text-color);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
#hours, #mins {filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));}
#timebg {color: #fff;}
.logo {
  border: 1px var(--lighter) solid;
}
#status {
  background-color: rgb(121, 201, 84);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 15px;
  width: 50px;
  margin-left: 5px;
  background-color: var(--bg);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}.tooltip .tooltiptext.aa {
  width: 200px;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--bg) transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#idk {
  background-image: url('img/logo.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 85%;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.fisrst {
  z-index: 2;
}
.hiding {
  animation-name: fadeout;
  animation-duration: 1s;
}
#musictitle {
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
@media screen and (max-width: 500px) {
 .main{
  transform: scale(85%);
 }
 .home {
  width: 100%;
}
}
@media screen and (max-width: 350px) {
  .main{
   transform: scale(80%);
  }
 }
 
 .cards {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.cards .card {
cursor: pointer;
transition: 0.5s;
display: flex;
flex-direction: column;
border-radius: 20px;
width: 350px;
margin: 10px;
height: 350px;
background-color: var(--navbar);
}
.imgcontainer {
  display: flex;
  justify-content: center;
margin: 10px;
border-radius: 15px;
overflow: hidden;
width: calc(100% - 20px);
height: auto;
}
.imgcontainer img {
cursor: pointer;
width: 100%;
height: auto;
}
.imgcontainer.center {
display: flex;
justify-content: center;
}
.cardtext {
color: var(--text-color);
font-weight: 600;
font-size: 18px;
margin: 5px 20px;
}
.carddesc {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  margin: 5px 20px;
  }